# Define the root logger
#log4cplus.rootLogger=TRACE, ConsoleAppender, fileAppender
log4cplus.rootLogger=TRACE, ConsoleAppender, fileAppender

# Define a file appender named "ConsoleAppender"
log4cplus.appender.ConsoleAppender=log4cplus::ConsoleAppender
log4cplus.appender.ConsoleAppender.layout=log4cplus::PatternLayout
log4cplus.appender.ConsoleAppender.layout.ConversionPattern=%-5p-[%t][%d{%Y-%m-%d %H:%M:%S %Q}]%m


# Define a file appender named "fileAppender"
log4cplus.appender.fileAppender=log4cplus::RollingFileAppender
log4cplus.appender.fileAppender.MaxFileSize=200KB
log4cplus.appender.fileAppender.File=./log/rtspsrv.log
log4cplus.appender.fileAppender.MaxBackupIndex=1
log4cplus.appender.fileAppender.layout=log4cplus::PatternLayout
log4cplus.appender.fileAppender.layout.ConversionPattern=%-5p-[%t][%D{%H:%M:%S %Q}]%m
